@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nsans Regular";
  src: url(../assets/NetflixSans-Regular.woff2);
}

@font-face {
  font-family: "Nsans Medium";
  src: url(../assets/NetflixSans-Medium.woff2);
}

@font-face {
  font-family: "Nsans Light";
  src: url(../assets/NetflixSans-Light.woff2);
}

@font-face {
  font-family: "Nsans Bold";
  src: url(../assets/NetflixSans-Bold.woff2);
}

body {
  margin: 0;
  font-family: 'Nsans Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
